<a href="https://colab.research.google.com/github/Firmanrachmad/CoffeeAnalysis/blob/main/Project_Akhir_Firman_Rachmad_Caesar.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Analisa Review Data Pemanggang Kopi 
# Firman Rachmad Caesar / 2241727015
# TI-4J / 16

In [1]:
# import library
import numpy as np, pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.datasets import make_classification
from sklearn.datasets import fetch_20newsgroups
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.naive_bayes import MultinomialNB, CategoricalNB, GaussianNB
from sklearn.pipeline import make_pipeline
from sklearn.metrics import confusion_matrix, accuracy_score
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier 
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
# baca data
data = pd.read_csv('/content/drive/MyDrive/MachineL/coffee_df.csv')
data.head()

,slug,all_text,rating,roaster,name,region_africa_arabia,region_caribbean,region_central_america,region_hawaii,region_asia_pacific,...,agtron,aroma,acid,body,flavor,aftertaste,with_milk,desc_1,desc_2,desc_3
0,https://www.coffeereview.com/review/wilton-ben...,\n\n\n95\n\n\nJBC Coffee Roasters\nWilton Ben...,95,JBC Coffee Roasters,Wilton Benitez Geisha,0,0,0,0,0,...,59/81,9.0,9.0,9.0,9.0,9.0,NaN,"Richly floral-toned, exceptionally sweet. Dist...",Produced by Wilton Benitez of Macarena Farm en...,"A nuanced, complex experimentally processed Co..."
1,https://www.coffeereview.com/review/colombia-c...,\n\n\n95\n\n\nBird Rock Coffee Roasters\nColo...,95,Bird Rock Coffee Roasters,Colombia Cerro Azul Geisha,0,0,0,0,0,...,62/80,9.0,9.0,9.0,9.0,9.0,NaN,"Richly aromatic, chocolaty, fruit-toned. Dark ...",Produced by Rigoberto Herrera of Granja La Esp...,"A trifecta of fruit, chocolate and flowers, bo..."
2,https://www.coffeereview.com/review/yirgacheff...,\n\n\n94\n\n\nRegent Coffee\nYirgacheffe Meng...,94,Regent Coffee,Yirgacheffe Mengesha Natural,1,0,0,0,0,...,60/77,9.0,9.0,9.0,9.0,8.0,NaN,"High-toned, fruit-driven. Boysenberry, pear, c...",Produced at Mengesha Farm from selections of i...,A fruit medley in a cup — think boysenberry an...
3,https://www.coffeereview.com/review/colombia-t...,\n\n\n93\n\n\nRegent Coffee\nColombia Tolima ...,93,Regent Coffee,Colombia Tolima Finca El Mirador Washed Anaerobic,0,0,0,0,0,...,59/79,9.0,9.0,8.0,9.0,8.0,NaN,"Delicately fruit-toned. Guava, ginger blossom,...",Produced by Victor Gutiérrez of Finca Mirador ...,"An appealing washed anaerobic cup: deep-toned,..."
4,https://www.coffeereview.com/review/panama-gei...,\n\n\n94\n\n\nTheory Coffee Roasters\nPanama ...,94,Theory Coffee Roasters,Panama Geisha Finca Debra Symbiosis,0,0,1,0,0,...,62/80,9.0,9.0,9.0,9.0,8.0,NaN,"Richly fruit-forward, floral-toned. Lychee, te...",Produced by Jamison Savage of Finca Debra enti...,A floral- and fruit-driven anaerobic natural P...

In [3]:
# Cek jumlah data dan kolom
data.shape

(2282, 37)

In [4]:
# Cek tipe variabel data
data.dtypes

slug                       object
all_text                   object
rating                      int64
roaster                    object
name                       object
region_africa_arabia        int64
region_caribbean            int64
region_central_america      int64
region_hawaii               int64
region_asia_pacific         int64
region_south_america        int64
type_espresso               int64
type_organic                int64
type_fair_trade             int64
type_decaffeinated          int64
type_best_value             int64
type_pod_capsule            int64
type_blend                  int64
type_estate                 int64
type_peaberry               int64
type_barrel_aged            int64
type_aged                   int64
location                   object
origin                     object
roast                      object
est_price                  object
review_date                object
agtron                     object
aroma                     float64
acid                      float64
body                      float64
flavor                    float64
aftertaste                float64
with_milk                 float64
desc_1                     object
desc_2                     object
desc_3                     object
dtype: object

In [5]:
# Cek data null
data.isna().sum()

slug                         0
all_text                     0
rating                       0
roaster                      0
name                         0
region_africa_arabia         0
region_caribbean             0
region_central_america       0
region_hawaii                0
region_asia_pacific          0
region_south_america         0
type_espresso                0
type_organic                 0
type_fair_trade              0
type_decaffeinated           0
type_best_value              0
type_pod_capsule             0
type_blend                   0
type_estate                  0
type_peaberry                0
type_barrel_aged             0
type_aged                    0
location                     0
origin                       0
roast                       53
est_price                    5
review_date                  0
agtron                       0
aroma                       26
acid                       327
body                         2
flavor                       2
aftertaste                   2
with_milk                 1933
desc_1                       0
desc_2                       0
desc_3                       2
dtype: int64

In [ ]:
# Inisiasi label encoder
encode = LabelEncoder()

# Terpakan label encoder
for col in data.columns:
  if data[col].dtype == 'object':
    data[col] = encode.fit_transform(data[col])

In [ ]:
data.head()

,slug,all_text,rating,roaster,name,region_africa_arabia,region_caribbean,region_central_america,region_hawaii,region_asia_pacific,...,agtron,aroma,acid,body,flavor,aftertaste,with_milk,desc_1,desc_2,desc_3
0,2233,2042,95,218,2030,0,0,0,0,0,...,249,9.0,9.0,9.0,9.0,9.0,NaN,1781,1046,1106
1,275,1930,95,45,246,0,0,0,0,0,...,276,9.0,9.0,9.0,9.0,9.0,NaN,1723,981,1596
2,2272,1824,94,360,2066,1,0,0,0,0,...,254,9.0,9.0,9.0,9.0,8.0,NaN,1483,641,861
3,379,1230,93,360,343,0,0,0,0,0,...,248,9.0,9.0,8.0,9.0,8.0,NaN,892,1035,1713
4,1854,1897,94,435,1681,0,0,1,0,0,...,276,9.0,9.0,9.0,9.0,8.0,NaN,1798,858,754

In [6]:
data.drop("with_milk", axis=1, inplace=True)

In [7]:
data["aftertaste"].fillna(0, inplace = True)

In [8]:
data["roast"].fillna("No Roast", inplace = True)

In [18]:
print(len(data[(data['roast']=='Dark') & (data['aftertaste']==2)]))
print(len(data[(data['roast']=='Light') & (data['aftertaste']==2)]))
print(len(data[(data['roast']=='Medium') & (data['aftertaste']==2)]))
print(len(data[(data['roast']=='Medium-Dark') & (data['aftertaste']==2)]))
print(len(data[(data['roast']=='Medium-Light') & (data['aftertaste']==2)]))
print(len(data[(data['roast']=='No Roast') & (data['aftertaste']==2)]))

0
1
0
0
0
0

In [20]:
print(len(data[(data['region_africa_arabia']==1) & (data['aftertaste']==6)]))
print(len(data[(data['region_caribbean']==1) & (data['aftertaste']==6)]))
print(len(data[(data['region_central_america']==1) & (data['aftertaste']==6)]))
print(len(data[(data['region_hawaii']==1) & (data['aftertaste']==6)]))
print(len(data[(data['region_asia_pacific']==1) & (data['aftertaste']==6)]))
print(len(data[(data['region_south_america']==1) & (data['aftertaste']==6)]))

0
0
0
0
0
1

In [ ]:
# Membuat variabel baru
X = data[['region_africa_arabia','region_caribbean','region_central_america','region_hawaii','region_asia_pacific','region_south_america', 'roast']]
y = data['aftertaste']

In [ ]:
y

0       0
1       0
2       1
3       0
4       0
       ..
2277    0
2278    1
2279    0
2280    0
2281    0
Name: region_africa_arabia, Length: 2282, dtype: int64

In [ ]:
data.shape

(2282, 36)

In [ ]:
# Split data training dan testing
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [ ]:
# Kita akan menggunakan CategoricalNB untuk kasus ini

# Inisasi CategoricalNB
cnb = CategoricalNB()

# Fit model
# Label y harus dalam bentu 1D atau (n_samples,)
cnb.fit(X_train, y_train)

# Prediksi dengan data training
y_train_pred = cnb.predict(X_train)

# Evaluasi akurasi training
acc_train = accuracy_score(y_train, y_train_pred)

# Prediksi test data
y_test_pred = cnb.predict(X_test)

# Evaluasi model dengan metric akurasi
acc_test = accuracy_score(y_test, y_test_pred)

# Print hasil evaluasi
print(f'Hasil akurasi data train: {acc_train}')
print(f'Hasil akurasi data test: {acc_test}')

Hasil akurasi data train: 0.7479452054794521
Hasil akurasi data test: 0.7264770240700219

In [ ]:
# Pada kasus kali ini kita akan menggunakan seluruh parameter default dari RandomForest
# Untuk detail parameter (hyperparameter) silahkan cek dokumentasi

rf = RandomForestClassifier(n_estimators=10, random_state=1)

# Sesuaikan dt ke set training
rf.fit(X_train, y_train)

# Memprediksi label set test
y_pred_rf = rf.predict(X_test)

#  menghitung set accuracy
acc_rf = accuracy_score(y_test, y_pred_rf)
print("Test set accuracy: {:.2f}".format(acc_rf))
print(f"Test set accuracy: {acc_rf}")

Test set accuracy: 0.72
Test set accuracy: 0.7199124726477024